li {
    display: inline-block;
}

.navbar-brand {
    font-weight: bolder;
}

.main-info {
    width: 48%;
    float: left;
    padding-top: 100px;
    font-size: 2rem;

}

.get-started {
    background-color: #ffffff;
    width: 100%;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: bold;
}


body {    
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NpXoGmSRgimfaivmx/videoblocks-balance-stones-on-the-beach-peace-of-mind-equilibrium-life-calming-nerves_rbrzs1sez_thumbnail-full01.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Manjari', sans-serif;
    font-weight: bolder;
    background-color: #f3dcaa;
}

/* img {
    float: right;
    padding-top: 100px;
    padding-right: 50px;
} */